name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Run lint
        run: ./gradlew lintDebug

      - name: Upload lint report
        uses: actions/upload-artifact@v4
        with:
          name: lint-report
          path: app/build/reports/lint-results-debug.html
# number of jobs number of instances
  # https://chatgpt.com/c/69287d57-1e04-8320-a23f-7709cb8518f5
  unit-test:
    needs: [lint]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Upload Unit Test Report
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: app/build/reports/tests/testDebugUnitTest/


#  instrumentation-test:
#    needs: [unit-test]
#    runs-on: macos-latest
#
#    steps:
#      - name: Checkout the code
#        uses: actions/checkout@v4
#
#      - name: Run espresso tests
#        uses: reactiveCircus/android-emulator-runner@v2
#        with:
#          api-level: 29
#          script: ./gradlew connectedCheck
#
#      - name: Upload Test Report
#        uses: actions/upload-artifact@v4
#
#        with:
#          name: instrumentation_test_report
#          path: app/build/reports/androidTests/connected/

  package:
    name: Generate APK

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4


      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build debug APK
        uses: actions/upload-artifact@v4

        with:
          name: expense-manager.apk
          path: app/build/outputs/apk/debug/app-debug.apk
